.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

.env
.env.local
*.env.local
supabase/functions/.env
supabase/functions/.env.local
*.iml
.idea/
.vscode/*.log

android/.gradle/
android/app/build/
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

*.jks
*.keystore
*.p8
*.p12
*.mobileprovision
*.provisionprofile
